<% include ../header %>
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="#">文章管理系统</a>
            </li>
            <li>
                <a href="#">文章列表</a>
            </li>
        </ol>
    </div>
    <div class="container">
        <table class="table">
            <tr class="user-table">
                <th>分类</th>
                <th>标题</th>
                <th>作者</th>
                <th>简介</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            <% dataList.forEach(function(val){ %>
                <tr>
                    <td>
                        <%= val.listname %>
                    </td>
                    <td>
                        <%= val.title %>
                    </td>
                    <td>
                        <%= val.author %>
                    </td>
                    <td>
                        <%= val.intros %>
                    </td>
                    <td>
                        <%= val.ctime.toLocaleString() %>
                    </td>
                    <td>
                        <a href="/article/modify/<%= val._id %>">编辑</a>
                        |
                        <a href="/article/del/<%= val._id %>" onclick="return confirm('你确定要删除吗?')">删除</a>
                    </td>
                </tr>
                <% }) %>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/article/list/?page=1">首页</a>
                </li>
                <li>
                    <a href="/article/list/?page=<%= page -1 %>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <% for(var i = 1;i <= pages;i++){ %>
                <li>
                    <a href="/article/list/?page=<%= i %>">
                        <%= i %>
                    </a>
                </li>
                <% } %>
                <li>
                    <a href="/article/list/?page=<%= -(-page-1) %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li>
                    <a href="/article/list/?page=<%= pages %>">尾页</a>
                </li>
            </ul>
        </nav>
    </div>
    <% include ../footer %>