<% include ../header %>
    <script src="/ueditor/ueditor.config.js"></script>
    <script src="/ueditor/ueditor.all.min.js"></script>
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="#">文章管理页面</a>
            </li>
            <li>
                <a href="#">文章修改</a>
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/article/modifyArticle" method="POST" class="dataList">
                <input type="hidden" value="<%= data._id %>" name="_id">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1">分类</span>
                            <select name="adminId" class="form-control">
                                <% data1.forEach(function(val){ %>
                                <option value="<%= val._id %>" <%= val._id == val.modifyId ? 'selected' : '' %> >
                                    <%= val.listname %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1">标题</span>
                            <input type="text" class="form-control" name="title" value="<%= data.title %>">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1">作者</span>
                            <input type="text" class="form-control" name="author" value="<%= data.author %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1">关键字</span>
                            <input type="text" class="form-control" name="keywords" value="<%= data.keywords %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1">简介</span>
                            <input type="text" class="form-control" name="intros" value="<%= data.intros %>">
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea name="content" id="content">
                                <%- data.content %>
                        </textarea>
                    </div>
                </div>
                <div>
                    <input type="submit" class="data-submit" value="确认">
                    <a href="/article/list"><input type="button" value="返回" class="data-submit"></a>
                </div>
            </form>
            <script>
                // 调用 富文本编辑
                var ue = UE.getEditor('content');
            </script>
        </div>
    </div>
    <% include ../footer %>